*{
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-image: url(/imagenes/fondoDescarga.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
}

nav {
  background-color: rgba(43, 57, 65, 60);
  text-align: end;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;   
}

.homeDescarga {
  font-size: 20px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 45px;
  color: rgb(194, 95, 84);
  margin-top: 300px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(139, 54, 14);
  font-weight: bold;
}

p {
  text-align: center;
  font-size: larger;
  color: white;
}

button {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 600px;
  height: 60px;
  width: 300px;
  border-radius: 8px;
  background-color:rgb(248, 245, 245)
}

.footerDescarga {
  background-image: url(/imagenes/fondoFotter.png);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 310px;
  text-align: center;
  font-weight: bold;
  color:white;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

@media (max-width:760px) {
  h2{
    margin-top: 50px;
  }
  h1{
    margin-top: 40px;
  }
  button {
    margin-top: 35px;
    width: 80%;
    margin-bottom: 100px;
    font-size: 25px;
  } 

}