*{
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-image: url(/imagenes/fondoMembresia.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
}

nav {
  background-color: rgb(60, 79, 83);
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;  
  padding-right: 25px;
  }

.homeMembresia {
  color:white;
  font-size: 20px;
} 

h1 {
  text-align: center;
  font-size: 40px;
  color: goldenrod;
  font-family:'Arial Narrow Bold';
  background-color: rgb(20, 52, 58); 
}

h2 { 
  text-align: center;  
  font-size: 30px;
  color: rgb(0, 158, 97);
  background-color: rgb(3, 3, 3, 20);
}

.cajaTexto {
  height: 15px;
  width: 90%;
}

.inputs {
  background-color: rgb(4, 32, 32, 80%);
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  padding: 15px;
  width: 9%;
  border-radius: 5px;
}

.button2 {
  font-size: medium;
  padding-left: 3px;
  padding-right: 3px;
}

.input {
  height: auto;
  width: 150px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

button {
  height: 20px;
  width: 130px;
}

.datosDos {
  background-color: rgb(4, 32, 32, 80%);
  width: 9%;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
  color: white;
}

.contenedor-flex {
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 70px;
}

.footerMembresia {
  background-image: url(/imagenes/fondoFotter.png);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 165px;
  text-align: center;
  font-weight: bold;
  color:white;
}

@media (max-width:760px) {
  .input {
    width:75%;
  }
  .inputs {
    width: 70%;
    text-align: center;
    font-size: 25px;
  }
  .datosDos {
    width:80%;
  }
  .button2 {
    width: 80%;
  }
  button {
    width:80px;
  }
}
