//Variables 
$color-principal: rgb(155, 144, 131);
$color-letra: rgb(255, 255, 255);
$fondo-cajas: rgb(201, 123, 123);

//Anidacion
@use 'anidacion';

body {
  background: $color-principal;
  margin:0;
}

@mixin caja_personalizada () {
  background-color: $fondo-cajas;
  border: 2px solid black;
  box-shadow: 0px 0px 2px black;
  color: $color-letra;
  margin: 10px;
  width: 30%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 70px;
}

.caja {
  @include caja_personalizada()
}

.links {
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(216, 211, 135);
}

.flex-row {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  background-image: url(/imagenes/detalleFooter.jpg);
  padding: 30px;
  color: $color-letra;
  font-size: 20px;
  margin-top: 50px;
}
